.chat {
    width: 50%;
    height: 80%;
    display: flex;  
    justify-content: flex-end;
    position: relative;
    flex-direction: column;
    margin: 16px auto;
    background-color: #1b1a1d;
}
.messages-container {
    display: flex;
    flex-direction: column-reverse;
}