.chat {
    width: 50%;
    height: 80%;
    position: relative;
    margin: 32px auto;
    background-color: #1b1a1d;
    overflow-y: auto;
    display: grid;
    grid-template-rows: auto;
    row-gap: 10px;
    scroll-margin-bottom: 0px;
}

.messages-container {
    display: flex;
    flex-direction: column-reverse;
}