.input-area{ 
    position: relative;
    flex-direction: row;
    margin: 8px auto;
    width: 50%;
    background-color: #1b1a1d;
    border-radius: 12px;
    border: 1px solid #1976D2;
}

.formulario{
    display: flex;
    flex-direction: row;
}

.formulario button{
    width: 52px;
    height: 52px;
    background-color: #252331;
    border: none;
    border-radius: 50%;
    margin: auto 5px ;
    background-image: url("/public/send.png");
    background-size: 18px;
    background-repeat: no-repeat;
    background-position: center;
    background-position: center;
    transition: 0.2s;
    cursor: pointer;
}

.formulario button:hover {
    transition: 0.5s;
    background-color: white;
    background-image: url("/public/send2.png");
}

