.message{
   display: block;
   
}

.message-group{
    display: flex;
    align-items: end;
    transition: 5s ease;
    margin: 12px 0;
}
.image-section{
    display: block;
}

.user-image{
    height: 43px;
    border-radius: 50%;
    margin: 7px 10px; 
}


.message-text{
    
    background: #232232;
        max-width: 500px;
        margin: 7px;
        line-height: 24px;
        padding: 10px 20px;
        border-radius: 10px;
        position: relative;
        color: white;
        text-align: center;
        word-wrap: break-word;
        text-align: left;
}

/* 1976D2 */