.message{
    display: flex;
    align-items: center;
}

.message img{
    height: 50px;
    border-radius: 50%;
}
.message p{
        max-width: 500px;
        margin-bottom: 12px;
        line-height: 24px;
        padding: 10px 20px;
        border-radius: 25px;
        position: relative;
        color: white;
        text-align: center;
}
/* 1976D2 */